################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/PizzaManagementSystem/PizzaManagementSystem.Api/OrdersQueue/data.0
/PizzaManagementSystem/PizzaManagementSystem.Api/OrdersQueue/lock
/PizzaManagementSystem/PizzaManagementSystem.Api/OrdersQueue/meta.state
